@import "../../colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

.ListModal {
  display: grid;
  width: 60%;
  margin: 10px auto;
  background: $gray;
  color: white;
  border-radius: 4pt;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr 8fr;
  pointer-events: none;
  opacity: 0;
  position: absolute;
  z-index: 2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.ListModal--open {
  opacity: 1;
  pointer-events: all;
}

.ListModal__input {
  height: 20px;
  width: 90%;
  margin: 20px auto 20px auto;
}
.ListModal__line {
  background-color: $orange;
  height: 2px;
  width: 95%;
  margin: 20px auto auto auto;
}

.ListModal__taskName {
  width: 95%;
  height: 20px;
  background-color: $gray;
  outline: none;
  border: none;
  color: white;
  border-bottom: 1pt solid $orange;
  font-size: 18px;
}

.ListModal__tasks {
  width: 100%;
  height: 100%;
}

.ListModal__checkbox {
  width: 25px;
  background-color: $darkGray;
  color: red;
  visibility: hidden;
  &:before {
    display: block;
    content: "";
    width: 15px;
    height: 15px;
    visibility: visible;
    background-color: $gray;
    border: 2pt solid black;
    position: absolute;
  }
  &:checked:after {
    display: block;
    position: absolute;
    content: "";
    width: 6px;
    height: 20px;
    visibility: visible;
    background-color: transparent;
    border-right: 3pt solid $green;
    border-bottom: 3pt solid $green;
    transform: rotate(45deg);
    margin-left: 10px;
    margin-top: -5px;
  }
  &:checked:before {
    border: 2pt solid $green;
  }
}

.ListModal__button {
  color: white;
  border: none;
  border-radius: 8px;
  width: 100px;
  height: 44px;
  font-size: 22px;
  margin: 20px;
  cursor: pointer;
  &:disabled {
    background-color: rgb(247, 205, 127);
    cursor: initial;
  }
}

.ListModal__button--darkOrange {
  background-color: $darkOrange;
  float: right;
}

.ListModal__button--orange {
  background-color: $orange;
  float: right;
}

.ListModal__button--gray {
  color: $orange;
  background-color: $gray;
}

.ListModal__task {
  margin: 0px 20px 20px 20px;
}
