@import "../../colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

.ListModal {
  display: grid;
  width: 100%;
  height: 60px;
  margin: auto;
  background: $gray;
  color: white;
  border-radius: 4pt;
  grid-template-columns: 100%;
  grid-template-rows: 1fr;
  pointer-events: none;
  opacity: 0;
  position: absolute;
}
