@import "../../colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

.ListWrapper {
  display: grid;
  width: 50%;
  height: 40em;
  margin: auto;
  background: $darkGray;
  color: white;
  border-radius: 4pt;
  grid-template-columns: 100%;
  grid-template-rows: 1fr repeat(1fr);
}
.ListWrapper__input {
  width: 30%;
  height: 20px;
  margin: auto auto 4% auto;
  border-radius: 2pt;
  border: none;
  padding: 5px;
}

.ListWrapper__select {
  width: 15%;
  height: 35px;
  margin: auto auto 4% auto;
  float: right;
  border-radius: 2pt;
  border: none;
  padding: 5px;
}

.ListWrapper__addButton {
  background-color: white;
  position: absolute;
  border-radius: 100%;
  width: 52px;
  height: 52px;
  top: 75%;
  left: 72%;
  cursor: pointer;
  &:before,
  &:after {
    width: 42px;
    height: 3px;
    content: "";
    position: absolute;
    background-color: $orange;
    top: 25px;
    left: 5px;
  }
  &:before {
    transform: rotate(-90deg);
  }
  &:after {
    transform: rotate(180deg);
  }
}
