@import "../../colors.scss";

.alert {
  display: grid;
  width: 35%;
  height: 5%;
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  margin: 25% auto;
  border-radius: 4pt;
  grid-template-columns: 100%;
  grid-template-rows: 50%;
  justify-content: center;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.alert--danger {
  background: rgb(240, 180, 180);
  color: black;
}

.alert--success {
  background: lightgreen;
  color: black;
}

.alert--info {
  background: lightblue;
  color: black;
}
