@import "../../colors.scss";
@import url("https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap");

.navbar {
  display: grid;
  background: $darkGray;
  padding: 2em;
  grid-template-columns: 25% 65% 10%;
  grid-template-rows: auto auto auto;
  grid-template-areas: "title blank logout";
}

.navbar__div {
  font-family: "ZCOOL KuaiLe", cursive;
  font-size: 3em;
  color: $orange;
  grid-area: title;
}
.navbar__img {
  grid-area: logout;
  max-width: 75px;
  justify-self: end;
  cursor: pointer;
}
