@import "../../colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

.login {
  display: grid;
  width: 30%;
  height: 40em;
  margin: auto;
  background: $gray;
  border-radius: 4pt;
  grid-template-columns: 100%;
  grid-template-rows: 4fr 1fr 1fr 1fr 2fr;
  justify-content: center;
  text-align: center;
}

.login__div {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr 1fr;
}

.login__h1 {
  color: $orange;
  font-size: 3em;
  font-family: "Roboto", sans-serif;
}

.login__input {
  width: 60%;
  height: 50%;
  margin: auto auto 7% auto;
  border-radius: 4pt;
  border: none;
  outline: none;
}
.login__input--error {
  border: 1pt solid red;
  background-color: rgb(243, 146, 146);
}

.login__input::placeholder {
  padding-left: 8px;
  color: #a2a2a2;
  font-size: 1.2em;
}

.login__input--error::placeholder {
  padding-left: 8px;
  color: white;
  font-size: 1.2em;
}

.login__button {
  background-color: $orange;
  color: white;
  font-size: 1.2em;
  border-radius: 4pt;
  border: none;
  width: 30%;
  height: 65%;
  margin: auto;
  cursor: pointer;
}

.login__p {
  color: white;
  margin: 5% auto 5% auto;
}

.login__a {
  text-decoration: none;
  color: $orange;
  font-size: 1.8em;
  font-weight: 100;
}
